:root {
    --vk-blue: #7996ce;
    --vk-header-bg: #19191a;
    --bg-gray: #0a0a0a;
    --text-black: #e1e3e6;
    --text-dark-gray: #e1e3e6;
    --text-gray: #b0b8c1;
    --border-color: #2c2d2e;
    --white: #19191a;
    --active-tab: #71aaeb;
    --inactive-tab: #828282;
    --separator-color: #080808;
}